# SQL Practices

Agenda:
- Practice with Grouping in SQLite & Pandas

In [ ]:
import sqlite3
import pandas as pd
import seaborn as sns
import numpy as np

## Grouping
Just like pandas, Sql support different types of grouping statements for performing aggregate functions and allow us to calculate various statistics for data.

Syntax:
`SELECT operation(*) FROM tables GROUP BY column`

`df.groupby(['column(s)']).*.operations()`

In [ ]:
# instantiate some data
np.random.seed(1234)

auto = sns.load_dataset('mpg')
tips = sns.load_dataset('tips')

In [ ]:
## connect to our database

conn = sqlite3.connect('aggregate.db')
c = conn.cursor()

In [ ]:
# insert these datasets into our db

## Exercises

For the following several exercises, you will be asked to create 3 queries. You will need to use _both_ SQL and Pandas to answer these questions. These questions test for your knowledge and flexibility in data wrangling.

#### Q1. For the tips df/table, get the total count of man and woman

In [ ]:
# in pandas 

### your answer here

In [ ]:
# other alternatives?

Syntax: `SELECT ___ FROM ___ GROUP BY ___`

In [ ]:
# in sql 

### your code here
query = """"""
c.execute(query).fetchall()

#### Q2. Using pandas & SQL, select the average amount tipped for time

In [ ]:
# pandas

### Your code here

In [ ]:
# use SQL

### your code here
query = """"""
c.execute(query).fetchall()

We can also use `GROUP BY` with certain conditions, in conjunction with filtering and ordering.

You can use :

`SELECT ___ FROM ___ WHERE ___ GROUP BY ___ `

`SELECT ___ FROM ___ GROUP BY ___ HAVING ____ `

#### Q3.  get the average total bills for a party larger than 2 for every size of party

In [ ]:
# using pandas

### your code here

In [ ]:
# use sql to recreate this query

### your code here
query = """"""
c.execute(query).fetchall()